anyio==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.16.0 ; platform_python_implementation == "CPython" and sys_platform == "win32" and python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
cssselect==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
darkdetect==0.7.1 ; python_version >= "3.11" and python_version < "3.12"
ebooklib==0.18 ; python_version >= "3.11" and python_version < "3.12"
gevent==23.9.1 ; python_version >= "3.11" and python_version < "3.12"
greenlet==3.0.2 ; platform_python_implementation == "CPython" and python_version >= "3.11" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
httpcore==1.0.2 ; python_version >= "3.11" and python_version < "3.12"
httpx==0.25.2 ; python_version >= "3.11" and python_version < "3.12"
idna==3.6 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
linkify-it-py==2.0.2 ; python_version >= "3.11" and python_version < "3.12"
lxml==4.9.4 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py[linkify,plugins]==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
mdit-py-plugins==0.4.0 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.12"
parsel==1.8.1 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.11" and platform_python_implementation == "CPython" and sys_platform == "win32" and python_version < "3.12"
pygments==2.17.2 ; python_version >= "3.11" and python_version < "3.12"
pyqt5-qt5==5.15.2 ; python_version >= "3.11" and python_version < "3.12"
pyqt5-sip==12.13.0 ; python_version >= "3.11" and python_version < "3.12"
pyqt5==5.15.10 ; python_version >= "3.11" and python_version < "3.12"
pyqtdarktheme==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
rich==13.7.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.0.2 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
textual==0.46.0 ; python_version >= "3.11" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.1 ; python_version >= "3.11" and python_version < "3.12"
trogon==0.5.0 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
uc-micro-py==1.0.2 ; python_version >= "3.11" and python_version < "3.12"
w3lib==2.1.2 ; python_version >= "3.11" and python_version < "3.12"
zope-event==5.0 ; python_version >= "3.11" and python_version < "3.12"
zope-interface==6.1 ; python_version >= "3.11" and python_version < "3.12"
