cffi==1.16.0 ; (platform_system == "Darwin" or platform_system == "Windows" or platform_system == "Linux") and platform_python_implementation == "CPython" and python_version >= "3.12" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
cryptography==42.0.5 ; (platform_system == "Darwin" or platform_system == "Windows" or platform_system == "Linux") and platform_python_implementation == "CPython" and python_version >= "3.12" and python_version < "3.13"
cssselect==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
darkdetect==0.7.1 ; python_version >= "3.12" and python_version < "3.13"
ebooklib==0.18 ; python_version >= "3.12" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
h2==4.1.0 ; python_version >= "3.12" and python_version < "3.13"
hpack==4.0.0 ; python_version >= "3.12" and python_version < "3.13"
hyperframe==6.0.1 ; python_version >= "3.12" and python_version < "3.13"
idna==3.6 ; python_version >= "3.12" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
kiss-headers==2.4.3 ; python_version >= "3.12" and python_version < "3.13"
linkify-it-py==2.0.3 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.1.0 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py[linkify,plugins]==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
mdit-py-plugins==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
niquests==3.5.3 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.12" and python_version < "3.13"
parsel==1.9.0 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.12" and (platform_system == "Darwin" or platform_system == "Windows" or platform_system == "Linux") and platform_python_implementation == "CPython" and python_version < "3.13"
pygments==2.17.2 ; python_version >= "3.12" and python_version < "3.13"
pyqt6-qt6==6.6.2 ; python_version >= "3.12" and python_version < "3.13"
pyqt6-sip==13.6.0 ; python_version >= "3.12" and python_version < "3.13"
pyqt6==6.6.1 ; python_version >= "3.12" and python_version < "3.13"
pyqtdarktheme-fork==2.3.2 ; python_version >= "3.12" and python_version < "3.13"
qh3==0.15.0 ; (platform_system == "Darwin" or platform_system == "Windows" or platform_system == "Linux") and platform_python_implementation == "CPython" and python_version >= "3.12" and python_version < "3.13"
rich==13.7.1 ; python_version >= "3.12" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
textual==0.52.1 ; python_version >= "3.12" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.66.2 ; python_version >= "3.12" and python_version < "3.13"
trogon==0.5.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.10.0 ; python_version >= "3.12" and python_version < "3.13"
uc-micro-py==1.0.3 ; python_version >= "3.12" and python_version < "3.13"
urllib3-future==2.6.903 ; python_version >= "3.12" and python_version < "3.13"
w3lib==2.1.2 ; python_version >= "3.12" and python_version < "3.13"
wassima==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
