altgraph==0.17.2; python_version >= "3.7" and python_version < "3.11" and sys_platform == "darwin"
anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.7"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
black==22.6.0; python_full_version >= "3.6.2"
certifi==2022.6.15; python_version >= "3.7"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.7"
click==8.1.3; python_version >= "3.7"
colorama==0.4.5; platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.6.2"
distlib==0.3.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
ebooklib==0.17.1
filelock==3.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flake8==4.0.1; python_version >= "3.6"
future==0.18.2; python_version >= "3.7" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
h11==0.12.0; python_version >= "3.7"
httpcore==0.15.0; python_version >= "3.7"
httpx==0.23.0; python_version >= "3.7"
identify==2.5.1; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.6.2"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
lxml==4.9.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
macholib==1.16; python_version >= "3.7" and python_version < "3.11" and sys_platform == "darwin"
mccabe==0.6.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.6"
mypy==0.961; python_version >= "3.6"
nodeenv==1.7.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2"
pefile==2022.5.30; python_version >= "3.7" and python_version < "3.11" and sys_platform == "win32" and python_full_version >= "3.6.0"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
pre-commit==2.20.0; python_version >= "3.7"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyinstaller-hooks-contrib==2022.8; python_version >= "3.7" and python_version < "3.11"
pyinstaller==5.2; python_version >= "3.7" and python_version < "3.11"
pyqt5-qt5==5.15.2; python_version >= "3.7"
pyqt5-sip==12.11.0; python_version >= "3.7"
pyqt5==5.15.7; python_version >= "3.7"
pywin32-ctypes==0.2.0; python_version >= "3.7" and python_version < "3.11" and sys_platform == "win32"
pyyaml==6.0; python_version >= "3.7"
rfc3986==1.5.0; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.7"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_full_version < "3.11.0a7" and python_full_version >= "3.6.2" and python_version >= "3.7" and python_version < "3.11"
types-click==7.1.8
types-toml==0.10.7
typing-extensions==4.3.0; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.7"
virtualenv==20.15.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
